
@font-face {
	font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');
  /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before { content: "\e64f"; }

.icon-locationfill:before { content: "\e650"; }

.icon-location:before { content: "\e651"; }

.icon-search:before { content: "\e65c";}

.icon-unfold:before { content: "\e661"; }

.icon-camerafill:before { content: "\e664"; }

.icon-camera:before { content: "\e665"; }

.icon-deliver:before { content: "\e671"; }

.icon-evaluate:before { content: "\e672"; }

.icon-pay:before { content: "\e673"; }

.icon-send:before { content: "\e675"; }

.icon-back:before { content: "\e679"; }

.icon-list:before { content: "\e682"; }

.icon-more:before { content: "\e684"; }

.icon-scan:before { content: "\e689"; }

.icon-questionfill:before { content: "\e690"; }

.icon-question:before { content: "\e691"; }

.icon-right:before { content: "\e6a3"; }

.icon-refresh:before { content: "\e6a4"; }

.icon-refund:before { content: "\e6ac"; }

.icon-cart:before { content: "\e6af"; }

.icon-share6:before { content: "\e602"; }

.icon-home:before { content: "\e6b8"; }

.icon-cartfill:before { content: "\e6b9"; }

.icon-homefill:before { content: "\e6bb"; }

.icon-message:before { content: "\e6bc"; }

.icon-weibo:before { content: "\e6c4"; }

.icon-tmall:before { content: "\e6cf"; }

.icon-fold:before { content: "\e6de"; }

.icon-tao:before { content: "\e6e8"; }

.icon-mobiletao:before { content: "\e6e9"; }

.icon-wefill:before { content: "\e6f4"; }

.icon-we:before { content: "\e6f5"; }

.icon-ju:before { content: "\e745"; }

.icon-add:before { content: "\e767"; }

.icon-move:before { content: "\e768"; }

.icon-juhuasuan:before { content: "\e771"; }

.icon-taoqianggou:before { content: "\e772"; }

.icon-tianmao:before { content: "\e773"; }

.icon-shoucangshangpin:before { content: "\e612"; }

.icon-1111:before { content: "\e782"; }

.icon-shijuedonghua:before { content: "\e725"; }

.icon-my:before { content: "\e78b"; }

.icon-myfill:before { content: "\e78c"; }

.icon-cncainiaoyizhan:before { content: "\e65f"; }

.icon-quanzixuanzhong:before { content: "\e608"; }

.icon-xiaomicopy:before { content: "\e646"; }

.icon-qiandai:before { content: "\e7e3"; }

.icon-pinglun:before { content: "\e619"; }

.icon-sortlight:before { content: "\e7ad"; }

.icon-shape:before { content: "\e67f"; }

.icon-wendang:before { content: "\e60c"; }

.icon-wen:before { content: "\e663"; }

.icon-gerenxinxishouji:before { content: "\e621"; }

.icon-peoplelist:before { content: "\e7be"; }

.icon-huiyuan:before { content: "\e65b"; }

.icon-goodsnewfill:before { content: "\e7bf"; }

.icon-goodsnew:before { content: "\e7c0"; }

.icon-medalfill:before { content: "\e7c1"; }

.icon-medal:before { content: "\e7c2"; }

.icon-newsfill:before { content: "\e7c3"; }

.icon-newshotfill:before { content: "\e7c4"; }

.icon-newshot:before { content: "\e7c5"; }

.icon-news:before { content: "\e7c6"; }

.icon-videofill:before { content: "\e7c7"; }

.icon-video:before { content: "\e7c8"; }

.icon-moneybagfill:before { content: "\e7ce"; }

.icon-jiaguanzhu:before { content: "\e60d"; }

.icon-zuji:before { content: "\e67e"; }

.icon-qiaquan:before { content: "\e67d"; }


